text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    line-height: 1px !important;
    user-select: none;
    paint-order: stroke;
    stroke: #00000094;
    stroke-width: 0.05em;
    stroke-linecap: round;
    stroke-linejoin: round;
    font-weight: 400;
 }